@import "tailwindcss";
@import "./assets/brand/brand-styles.css";
@import "./assets/brand/calendar-styles.css";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-primary);
}
